ImpTgsReq/obj/*
ImpTgsReq/bin/*
ImpTgsReq/Release/*
ImpTgsReq/FodyWeavers.xsd
PublishKrbCred/obj/*
PublishKrbCred/bin/*
PublishKrbCred/Release/*
PublishKrbCred/FodyWeavers.xsd
ImplantCryptor/obj/*
ImplantCryptor/bin/*
ImplantCryptor/Release/*
ImplantCryptor/test/*
ImplantCryptor/FodyWeavers.xsd
InvokeLocalNtlmFlow/*
KeyStrokeMonitor/main.exe
